@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


.full-width {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
}

.nav-wrapper {
    text-decoration: none;
    list-style: none;
    margin-top: 16px;
}

.link-text {
    color: black;
}

.main-font {
    font-family: 'Noto Serif Display', serif;
}

.sub-font {
    font-family: 'Roboto', sans-serif;
}

.main-top-gap {
    padding-top: 12px;
}

.main-bottom-gap {
    padding-bottom: 18px;
}

.main-sec-top-gap {
    padding-top: 12px;
}

.main-sec-bottom-gap {
    padding-bottom: 12px;
}

.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.main-nav-item {
    padding: 9px 15px;
}

.main {
    background-image: url("images/home bg-1.png");
    background-repeat: no-repeat;
}

.no-overflow {
    overflow: hidden;
}

.main-right-pan {
    width: 50%;
    height: inherit;
}

.main-img {
    width: 100%;
    height: inherit;
}

.main-img > img {
    width: 80%;
    height: auto;
    margin-left: 212px;
}

.main-text-wrapper {
    margin: 14.3% 0;
}

.main-h1 {
    font-size: 5.9rem;
}

.main-para {
    font-size: 1.3rem;
}

.main-btn a {
    font-size: 1.2rem;
}

.main-btn a:hover {
    color: black;
    text-decoration: none;
}

.main-btn {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 9px;
}

.main-btn::after {
    content: " ";
    position: absolute;
    top: 0;
    left: -68%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(214deg, #EEF27E, #568C69);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
}

.main-btn:hover::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(214deg, #EEF27E, #568C69);
    transition: all .7s cubic-bezier(.3, 0, .3, 1);
}

.main-form-wrapper {
    height: fit-content;
}

.main-form-input-filed-wrapper {
    margin: 0 0 0 15px;
}

.main-form-space {
    padding: 52px;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Noto Serif Display', serif;
}

.feedback .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feedback-content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.feedback-content h2{
    font-family: 'Noto Serif Display', serif;
}

.feedback .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.feedback .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#568C69;
    color:white;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.feedback .row form .box::placeholder{
    color: lightyellow;
    text-transform: capitalize;
}

.feedback .row form .message{
    height: 15rem;
    resize: none;
}

.feedback .row .feedback-content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:black;
    padding:1rem 0;
    font-weight: normal;
}

.feedback .row .feedback-content .info h3 i{
    padding-right: 2rem;
    color: #568C69;
}

.feedback .row form button{
    color: white;
}

.btn{
    padding:.7rem 3rem;
    background:#568C69;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.feedback .row form button:hover{
    color: #EEF27E;
}

