{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block nav %}
    <div class="main-nav container-fluid">
        <ul class="nav-wrapper row">
            <li class="col-1 main-nav-item">item</li>
            <li class="col-1 main-nav-item">item</li>
            <li class="col-1 main-nav-item">item</li>
            <li class="col-1 main-nav-item">item</li>
            <li class="col-1 main-nav-item">item</li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="full-width container-fluid row">
            <div class="main-right-pan col no-overflow">
                <div class="main-img">
                    <img src="{{ url_for('static', filename='images/main-page-image.png') }}" alt="doctor image">
                </div>
            </div>

            <div class="main-left-pan col">
                <div class="main-header"></div>
                <div class="main-discription"></div>
                <div class="hpw-btn"></div>
            </div>
        </div>
    </div>
{% endblock %}